.greeting-text {
  margin-top: 85px;
}
a {
  text-decoration: none;
  
}

.logo {
  width: 106px;
  height: 24.56px;
}
h1 {
  font-size: 44px;
  color: var(--black-text-color);
}
h2 {
  font-size: 20px;
}
p {
  margin-top: 10px;
  font-size: 20px;
  color: var(--paragraph-text-color);
}

.greeting-text h2:nth-child(3) {
  margin-top: 60px;
}

.left-side-cards-container {
  margin-top: 20px;
  display: flex;
  gap: 16px;
}

.right-side-container {
  position: relative;
}

.right-side-container-background {
  margin: 30px 30px 0 50px;
  display: flex;
  background-color: var(--background-hover);
  border-radius: 20px;
  width: 580px;
  height: 840px;
}






