.five-items-container-likes{
    margin-top: 40px;
    max-width: 680px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(12, 150px);
}

.nav-btns-container-result {
    display: flex;
    gap: 10px;
  }


  .section-mark-result {
    display: flex;
    width: 148px;
    height: 40px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: var(--background-active);
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  #spinner {
    animation: rotate 2s infinite linear;
    height: 40px;
    width: 40px;
    color: red;
    margin: 0 0 0 300px;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }